<?xml version="1.0"?>
<!-- 
  Author: Jaison
  Credit: e-Yantra, IIT Bombay
  Copyright (c) 2020 eYantra IITB 
 -->

<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/realsense2.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"  
  />

  <link name="world" />
  
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="realsense_joint" type="fixed">
    <parent link="base_link" />
    <child link="camera_link" />
    <origin xyz="-0.97 0.0 1.04" rpy="0.0 0.261 0.0" /> 
  </joint>


  <link name="camera_link">  
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.001 0.001 0.001"/>
    </geometry>
  </collision>

  <visual>
    <origin xyz="0 0 0" rpy="1.57 0 1.57"/>  
    <geometry>
        <mesh filename="file://$(find ur_description)/meshes/NAVRS.STL" />
    </geometry>
  </visual>

  <inertial>
    <mass value="1e-5" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
  </inertial>
  </link>
  

</robot>
