<?xml version="1.0"?>
<!-- 
*****************************************************************************************
*
*        =============================================
*                  Cosmo Logistic Theme (eYRC 2023-24)
*        =============================================
*
*
*  Filename:			model.config
*  Created:				20/07/2023
*  Last Modified:	20/07/2023
*  Modified by:   Amit
*  Author:				e-Yantra Team
*  
***************************************************************************************** 
-->
<model>
    <name>package_box</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Amit, e-Yantra</name>
        <email>helpdesk@e-yantra.org</email>
    </author>
    <description>Package Box to be used in CL theme of eYRC 2023-24</description>
</model>