<?xml version="1.0"?>
<!-- 
*****************************************************************************************
*
*        =============================================
*           Krishi Bot (KB) Theme (eYRC 2022-23)
*        =============================================
*
*
*  Filename:			model.config
*  Created:				28/08/2022
*  Last Modified:	28/08/2022
*  Modified by:   Amit
*  Author:				e-Yantra Team
*  
***************************************************************************************** 
-->
<model>
  <name>KB_city</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Amit</name>
   <email>helpdesk@e-yantra.org</email>
  </author>

  <description>
    City For Krishi Bot e-Yantra Robotics Competition (eYRC) 2022-23
  </description>
</model>